$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}

.warnings {
  margin: 2em;
  padding: 1em;
  width: 18em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.checklist {
  display: flex;
}

.wrngsForm {
  list-style-type: none;

}

