$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 1px 0;
  font-family: $font-sans;
  // background-color: rgb(10, 10, 10);
  background-color: hsl(240, 10%, 6%);
  color: white;
}

a {
  color: $link-color;
}

.warnings {
  margin: 1.5em;
  padding: 0;
  width: 19em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 12em;
  background-color: rgba(31, 31, 34, 0.788);
  border-radius: 8px;
  margin-bottom: auto;
}

.warnings p {
  font-weight: bolder;
}

.checklist {
  width: 90vw;
  // height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 4em;
}

.image-div {
  margin: 0 0;
  height: 100vh;
  width: 90vw;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/dt2evehg4/image/upload/v1575028074/carBudy-pics/cardiagram_iudpzj.png");
  background-size: cover;
}

#position-div {
  position: relative;
}

#oil-pos {
  position: relative;
  top: 3em;
  left: 65em;
}

#coolant-pos {
  left: 67em;
  top: 5em;
  position: relative;
}

#brake-pos {
  position: relative;
  bottom: -3em;
  left: 40em;
}

#airfilter-pos {
  position: relative;
  bottom: 15em;
  left: 18em;
}

#tyre-pos {
  position: relative;
  right: 5em;
  top: 15em;
}

.wrngsForm {
  list-style-type: none;
  padding: 0;

  /* padding-left: 1.5em; */
}

.wrngsoil {
  list-style-type: none;
  padding-top: 1em;
  padding-right: 2em;
}

.authenticationnav {
  display: flex;
  align-items: flex-end;
}

.garagenav {
  display: flex;
  align-items: flex-start;
}

.garagenav img {
  margin-right: 0.5em;
}

.logoutbtn button {
  border: none;
  background-color: #f4433680;
  border-radius: 6px;
}

.logoutbtn span {
  color: white;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15em;
  height: 17em;
}

#index-text {
  position: relative;
  bottom: 24em;
}

.index img {
  margin-left: 2em;
  position: relative;
  top: 4em;
  width: auto;
  height: auto;
}

.index p {
  font-style: italic;
  color: white;
}

.index h1 {
  font-weight: 900;
  color: white;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}

#map {
  margin-top: 3em;
  width: 100%;
  height: 25em;
  color: initial;
}

#map-title {
  margin-left: 1em;
  margin-top: 3em;
}

.add-car {
  width: 100%;
  height: 4em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-car a {
  background-color: rgb(23, 23, 59);
  color: white;
  border: none;
}

.container {
  margin-top: 8em;
  margin-bottom: 8em;
}

.singlecar-top {
  display: flex;
  margin: 3em;
  justify-content: space-around;
  flex-wrap: wrap;
}

.siglecar-top-element {
  padding: 1em;
  margin: 1em;
  height: 3.5em;
}

#carname {
  text-align: center;
  margin-top: 3em;
}

.profile-button {
  padding: 1em 2em;
  background-color: rgb(49, 101, 126);
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  margin-right: 2em;
  margin-top: 1em;
}

.info-img {
  height: 5em;
  width: 5em;
}

.singlecar-fueltype {
  padding: 0 2em;
  border-radius: 8px;
  background-color: rgb(240, 240, 240);
  color: black;
  height: 1.5em;
}

.index2 {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1900px) and (max-width: 3000px) {
  #oil-pos {
    position: relative;
    top: 7em;
    left: 85em;
  }

  #coolant-pos {
    left: 90em;
    top: 11em;
    position: relative;
  }

  #brake-pos {
    position: relative;
    top: 12em;
    left: 55em;
  }

  #airfilter-pos {
    position: relative;
    top: -2em;
    left: 35em;
  }

  #tyre-pos {
    position: relative;
    right: 4em;
    top: 25em;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1899px) {
  #position-div {
    position: relative;
  }

  #oil-pos {
    position: relative;
    top: 3em;
    left: 65em;
  }

  #coolant-pos {
    left: 66em;
    top: 4em;
    position: relative;
  }

  #brake-pos {
    position: relative;
    bottom: -1em;
    left: 40em;
  }

  #airfilter-pos {
    position: relative;
    bottom: 17em;
    left: 17em;
  }

  #tyre-pos {
    position: relative;
    right: 5em;
    top: 18em;
  }
}
@media screen and (min-width: 600px) and (max-width: 1440px) {
  .checklist {
    width: 90vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 4em;
  }

  .image-div {
    display: flex;
    flex-wrap: wrap;
    background-image: none;
    width: inherit;
  }

  #position-div {
    position: inherit;
  }

  #oil-pos {
    position: initial;
  }

  #coolant-pos {
    position: initial;
  }

  #brake-pos {
    position: inherit;
  }

  #airfilter-pos {
    position: inherit;
  }

  #tyre-pos {
    position: initial;
  }
}
@media screen and (min-width: 1px) and (max-width: 599px) {
  .checklist {
    width: 90vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 4em;
  }

  .image-div {
    display: flex;
    flex-wrap: wrap;
    background-image: none;
    width: inherit;
  }

  #position-div {
    position: inherit;
  }

  #oil-pos {
    position: initial;
  }

  #coolant-pos {
    position: initial;
  }

  #brake-pos {
    position: inherit;
  }

  #airfilter-pos {
    position: inherit;
  }

  #tyre-pos {
    position: initial;
  }

  .index img {
    margin-left: 2em;
    position: relative;
    top: 4em;
    width: 15em;
    height: 15em;
  }

  #index-text {
    position: relative;
    top: 8em;
  }
}
