$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;



body {
  margin: 0;
  padding: 1px 0;
  font-family: $font-sans;
  background-color: rgb(10, 10, 10);
}

a {
  color: $link-color;
}

.warnings {
  margin: 1.5em;
  padding: 1em;
  width: 19em;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 12em;
}

.checklist {
  display: flex;
}

.wrngsForm {
  list-style-type: none;
}

.authenticationnav {
  display: flex;
  align-items: flex-end;
}

.garagenav {
  display: flex;
  align-items: flex-start;
  
}

.logoutbtn button {
  border: none;
  background-color: #f4433680;
  border-radius: 6px;
}

.logoutbtn span {
  color: white;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10em;
}

.index p {
  font-style: italic;
  color: white;
}

.index h1 {
  font-weight: 900;
  color: white;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
}

