<div class="container">

<h1>{{user.name}}</h1>
<br>
<a href="/user/edit/{{user._id}}" class="profile-button">Edit Profile</a>

<a href="/cars/carsedit/{{user._id}}" class="profile-button">Edit your cars</a>


</div>