<div class="index">
  <img src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575024594/carBudy-pics/group_xlm9vl.png" alt="LOGO">
  <div id="index-text">
    <h1>{{title}}</h1>

    <p>Let us worry about your car!</p>

    {{!-- </div>
<div class="index2">
<img class="info-img" src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575041218/carBudy-pics/undraw_fast_car_p4cu_alvdyf.svg" alt="">
<aside>CarBuddy is here to help you keep track of your car. Register here!!</aside>
</div> --}}
  </div>

{{!--   <div class="media">
    <img
      src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575041218/carBudy-pics/undraw_fast_car_p4cu_alvdyf.svg"
      class="align-self-center mr-3" width="100px" height="100px" alt="...">
    <div class="media-body">
      <h5 class="mt-0">Center-aligned media</h5>
      <p>CarBuddy is here to help you keep track of your car. Register here!!</p>
      <a href="/authentication/register" class="btn mb-0 btn-light"> Register</a>
    </div>
  </div>


  <div class="media">
    <img class="info-img align-self-center mr-3"
      src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575041218/carBudy-pics/undraw_fast_car_p4cu_alvdyf.svg"
      alt="...">
    <div class="media-body">
      <p>CarBuddy is here to help you keep track of your car. Register here!!</p>
    </div>
  </div>
  <a href="/authentication/register" class="btn btn-light"> Register</a> --}}


  {{!-- <div class="index2">
<img class="info-img" src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575041218/carBudy-pics/undraw_by_my_car_ttge_gndjfb.svg" alt="">
<aside>Click on Garage to add your first car.</aside>
</div> --}}
  {{!-- <div class="media">
    <img class="info-img align-self-center mr-3"
      src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575041218/carBudy-pics/undraw_by_my_car_ttge_gndjfb.svg"
      alt="...">
    <div class="media-body">
      <p>Click on Garage to add your first car.</p>
    </div>
  </div> --}}