<div class="index">
<img src="https://res.cloudinary.com/dt2evehg4/image/upload/v1575024594/carBudy-pics/group_xlm9vl.png" alt="LOGO">
<div id="index-text">
<h1>{{title}}</h1>

<p>Let us worry about your car!</p>
</div>
</div>