<div class="container">
<form action="/authentication/register" method="POST" >
  
  <div class="input-group mb-3">
  <div class="input-group-prepend">
  <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
    </div>
  <input type="text" id="input-name" name="name" placeholder="Your Name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
  </div>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
  <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    </div>
  <input type="email" id="input-email" name="email" placeholder="Your Email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
  </div>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
  <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    </div>
  <input type="password" name="password" id="input-password" placeholder="A Strong Password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
  </div>
  <button type="submit" class="btn btn-light">Register</button>
</form>
</div>

  
