<div class="card bg-dark text-white mb-3">
  <img src="{{this.avatar}}" class="card-img-top" alt="{{this.name}} avatar">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
  </div>
</div>