<div class="container">
<h1>{{user.name}}'s garage</h1>

{{#if cars}}
<div class="row">
  {{#each cars}}
  <div class="col col-12 col-sm-6 col-md-4">
    <a href="/cars/edit/{{id}}">
      {{> carcard}}
    </a>
  </div>
  {{/each}}
</div>
{{else}}
<p>You have no cars to edit.</p>
<p>Go to Garage and add a car.</p>
{{/if}}
</div>