
<div class="container">
{{#if user}}
<h1>{{user.name}}'s garage</h1>

<div class="row">
  {{#each cars}}
  <div class="col col-12 col-sm-6 col-md-4">
    <a href="/cars/updatekms/{{id}}">
      {{> carcard}}
    </a>
  </div>
  {{/each}}
</div>
</div>
<div class="add-car navbar-light bg-dark fixed-bottom">
<a href="/cars/new" class="btn btn-light">Add a car</a>
</div>
{{else}}
<p>Please Register/login to add a car</p>
{{/if}}
