
{{#if user}}
<h1>{{user.name}}'s garage</h1>
{{#each cars}}
<ul>
  <li><a href="/cars/{{id}}">{{this.name}}</a></li>
</ul>
{{/each}}
<a href="/cars/new">Add a car</a>
{{else}}
Please Register/login to add a car

{{/if}}

