<h1>Add a new Car</h1>

<form action="/car/new" method="POST">

  <label for="km">Kilometers</label>
  <input type="text" name="kms" id="kms"/>

  <label for="insurance-type">Insurance Type</label>
  <input type="text" name="insurance-type" id="insurance-type"/>

  <label for="insurance-date">Insurance Date</label>
  <input type="date" name="insurance-date" id="insurance-date"/>
  
  <label for="insurance-date">Insurance Date</label>
  <input type="date" name="insurance-date" id="insurance-date"/>

  <button>Add car</button>
</form>