<h1>Add a new Car</h1>

<form action="/cars/new" method="POST">

  <label for="name">Car Name</label>
  <input type="text" name="name" id="name"/>
  <label for="kms">Kilometers</label>
  <input type="number" name="kms" id="kms"/>
  
  <label for="oil">Oil Changed at:</label>
  <input type="number" name="oil" id="oil" placeholder="kms"/>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Insurance Type</label>
    <select class="form-control" id="exampleFormControlSelect1" name="insuranceType" >
      <option>yearly</option>
      <option>semiannualy</option>
      <option>quarterly</option>
      <option>monthly</option>
    </select>
  </div>

  <label for="insurancedate">Insurance Date</label>
  <input type="date" name="insuranceDate" id="insurance-date"/>

 <div class="form-group">
    <label for="exampleFormControlSelect1">Fuel Type</label>
    <select name="fuelType" class="form-control" id="exampleFormControlSelect1">
      <option value="petrol">Petrol</option>
      <option value="diesel">Diesel</option>
    </select>
  </div>
  <button>Add car</button>
</form>