<h1>Add a new Car</h1>

<form action="/car/new" method="POST">

  <label for="km">Kilometers</label>
  <input type="text" name="kms" id="kms"/>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Insurance Type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Month</option>
      <option>Trimester</option>
      <option>Semester</option>
      <option>Anual</option>
    </select>
  </div>

  <label for="insurance-date">Insurance Date</label>
  <input type="date" name="insurance-date" id="insurance-date"/>

 <div class="form-group">
    <label for="exampleFormControlSelect1">Fuel Type</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Petrol</option>
      <option>Diesel</option>
    </select>
  </div>
  <button>Add car</button>
</form>