<h3>Service Stations near you</h3>
<!--The div element for the map -->
<div id="map"></div>

<script>
  const promisifiedGeoLocation = () => new Promise((resolve, reject) => navigator.geolocation.getCurrentPosition(resolve, reject));

  let map;
  let service;
  let infowindow;

  // const defaultMapCenter = { lat: 38.72, lng: -9.13 };
  const defaultMapCenter = { lat: 38.72, lng: -7.13 };

  promisifiedGeoLocation()
    .then(location => {
      const latitude = location.coords.latitude;
      const longitude = location.coords.longitude;
      findServices(map, { lat: latitude, lng: longitude });
    })
    .catch(error => {
      console.log(error);
    });

  function initMap() {
    const $mapContainer = document.getElementById('map');
    map = new google.maps.Map($mapContainer, {
      center: defaultMapCenter,
      zoom: 12
    });
  }

  function findServices(map, location) {
    let request = {
      location: location,
      radius: 40000,
      name: 'car repair',
      //fields: ['name', 'geometry'],
    };

    service = new google.maps.places.PlacesService(map);

    service.nearbySearch(request, function (results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
          console.log(results, '--------------')
        }
        map.setCenter(results[0].geometry.location);
      }
    });
  }

  function createMarker(place) {
    infowindow = new google.maps.InfoWindow();
    let marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location
    });

    google.maps.event.addListener(marker, 'click', function () {
      console.log(place);
      infowindow.setContent(`<strong>${place.name}</strong><br>${place.vicinity}`);
      infowindow.open(map, this);
    });
  }
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkzSRx0HFto4WoquDSizUmVBEHhdmAQCI&libraries=places&callback=initMap"></script>